<% content_for :page_title, t('.title') %>

<div class="page-header">
  <h1><%= t '.title' %></h1>
</div>

<div class="row">
  <div class="col-md-6">
    <%= simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), method: :post) do |f| %>
      <%= f.error_notification %>
      <%= f.full_error :confirmation_token %>

      <%= f.input :email, autofocus: true %>

      <%= f.button :submit, t('.submit') %>
    <% end %>
  </div>
</div>
