<% content_for :page_title, t('.title') %>

<h2><%= t '.title' %></h2>

<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th><%= admin_thead Page, 'title' %></th>
      <th><%= admin_thead Page, 'slug' %></th>
      <th><%= admin_thead Page, 'created_at' %></th>
      <th><%= admin_thead Page, 'updated_at' %></th>
    </tr>
  </thead>

  <tbody>
    <% @pages.each do |page| %>
      <tr class="page">
        <td>
          <%= link_to page.title, edit_admin_page_path(page) %>
        </td>

        <td>
          /<%= page.slug %>
        </td>

        <td>
          <%= l page.created_at, format: :long %>
        </td>

        <td>
          <%= l page.updated_at, format: :long %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @pages %>

<%= link_to t('.new'), new_admin_page_path, class: 'btn btn-default btn-lg' %>
