<div class="col-md-4 user-profile-sidebar">
  <div class="user-avatar">
    <%= image_tag user.avatar.medium.url, class: 'img-circle img-thumbnail img-responsive' %>
  </div>

  <% if user.levels.present? %>
    <div class="list-group">
      <% user.levels.each do |level| %>
        <%= link_to main_app.universe_path(level.universe, anchor: 'tab-ranks'), class: 'list-group-item' do %>
          <div class="media user-rank">
            <%= image_tag level.universe.image.thumb.url, class: 'media-object pull-left img-rounded' %>

            <div class="media-body">
              <h1 class="media-heading">
                <%= level.rank %>
              </h1>

              <%= level.rank.description %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
