<% content_for :page_title, t('.title') %>

<div class="row">
  <div class="col-lg-8 col-lg-offset-2 col-md-9 col-md-offset-1">
    <div class="page-header">
      <h1><%= t '.title' %></h1>
    </div>

    <% if @messages.present? %>
      <div class="list-group messages">
        <% @messages.each do |message| %>
          <% user = (message.sender == current_user ? message.recipient : message.sender) %>

          <%= link_to user_messages_path(user), class: 'list-group-item' do %>
            <%= image_tag user.avatar.thumb.url, class: 'pull-left img-circle' %>
            <h5><%= user %></h5>
            <p><%= truncate_rich message.content %></p>
            <p class="clearfix">
              <%= time_tag message.created_at, format: :short %>
            </p>
          <% end %>
        <% end %>
      </div>

      <%= paginate @messages %>
    <% else %>
      <div class="alert alert-info"><%= t '.empty_html' %></div>
    <% end %>
  </div>
</div>
