<div class="zine-comment">
  <div class="row">
    <div class="col-md-2 col-xs-3 user">
      <%= link_to image_tag(comment.user.avatar.small.url, class: 'img-responsive img-circle'), user_path(comment.user) %>

      <div class="name">
        <%= link_to comment.user, user_path(comment.user) %>
      </div>
    </div>

    <div class="col-md-10 col-xs-9">
      <div class="content">
        <%= simple_text comment.content %>
      </div>

      <div class="meta clearfix">
        <%= time_tag comment.created_at, format: :short %>

        <% if comment.created_at != comment.updated_at %>
          -
          <em>
            <%= t '.updated_at' %>

            <%= time_tag comment.updated_at, format: :short %>
          </em>
        <% end %>

        <div class="actions">
          <%= render 'reviews/form', reviewable: comment %>

          <%= link_to t('.destroy'), [comment.post.zine, comment.post, comment], method: :delete, class: 'btn btn-xs' if policy(comment).destroy? %>
        </div>
      </div>
    </div>
  </div>
</div>
