<% content_for :page_description, 'Notícias, análises, eventos, fóruns, resenhas,
  crônicas e materiais independentes de Vampiro: o Réquiem, Mago: o Despertar,
  Lobisomem: os Destituídos, Changeling: os Perdidos, Promethean: the Created e
  demais jogos do Mundo das Trevas - World of Darkness Storytelling RPG.' %>
<% content_for :page_keywords, 'Mundo das Trevas, World of Darkness, Vampiro,
  Vampire, Requiem, Mago, Mage, Despertar, Awakening, Lobisomem, Werewolf, Destituidos,
  Forsaken, Changeling, Perdidos, Lost, Promethean, Created, Geist, Sin Eaters, Hunter,
  Vigil, Mummy, Curse, Demon, Descent, Storytelling, RPG' %>
<% content_for :page_type, 'website' %>
<% content_for :canonical_url, raddar.root_url %>

<% content_for :layout_top  do %>
  <div class="page-top">
    <div class="container">
      <h1><%= link_to 'Mundo das Trevas', raddar.root_path %></h1>

      <p class="lead">
        A comunidade brasileira de storytelling
      </p>
    </div>
  </div>
<% end %>

<div class="mundodastrevas-home">
  <div class="row">
    <div class="col-md-9">
      <% @featured_posts.each_slice(2) do |row| %>
        <div class="row">
          <% row.each do |post| %>
            <div class="col-sm-6">
              <%= link_to main_app.zine_post_path(post.zine, post), class: 'featured-zine' do %>
                <div class="faux-image" style="background-image: url('<%= post.image.url %>')">
                </div>

                <div class="caption">
                  <h1><%= post %></h1>

                  <p class="zine-name">
                    <%= post.zine %>
                  </p>
                </div>
              <% end %>
            </div>
          <% end%>
        </div>
      <% end %>

      <div class="row">
        <div class="col-sm-6">
          <h2 class="home-heading">Nos fóruns</h2>

          <div class="list-group forum-topics">
            <% @forum_topics.each do |topic| %>
              <%= link_to raddar_forums.forum_topic_path(topic.forum, topic), class: 'list-group-item' do %>
                <h4 class="list-group-item-heading">
                  <%= topic %>
                </h4>

                <p class="list-group-item-text forum-name">
                  <%= topic.forum %>
                </p>
              <% end %>
            <% end %>
          </div>

          <h3 class="home-heading">Comentários</h3>

          <div class="list-group comments">
            <% @comments.each do |comment| %>
              <%= link_to main_app.zine_post_path(comment.post.zine, comment.post), class: 'list-group-item' do %>
                <div class="media">
                  <%= image_tag comment.user.avatar.thumb.url, class: 'media-object pull-left img-circle' %>

                  <div class="media-body">
                    <strong>
                      <%= comment.user %>:
                    </strong>

                    <%= truncate comment.content, length: 100, separator: ' ' %>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>

        <div class="col-sm-6">
          <h2 class="home-heading">Posts recentes</h2>

          <ul class="media-list">
            <% @recent_posts.each do |post| %>
              <li class="media zine-with-post clearfix">
                <%= link_to main_app.zine_post_path(post.zine, post), class: 'pull-left' do %>
                  <%= image_tag post.image.small.url, class: 'media-object img-rounded' %>
                <% end %>

                <div class="media-body">
                  <h4 class="media-heading">
                    <%= link_to post, main_app.zine_post_path(post.zine, post) %>
                  </h4>

                  <p class="zine-name">
                    <%= post.zine %>
                  </p>

                  <p>
                    <%= truncate(sanitize(post.content, tags: []), length: 120, separator: ' ') %>
                  </p>
                </div>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>

    <%= render 'sidebar' %>
  </div>

  <div class="universes">
    <% @universes.each_slice(3) do |row| %>
      <div class="row">
        <% row.each do |universe| %>
          <div class="col-md-4 col-md-offset-<%= (row.length - 3) * -2 %>">
            <%= link_to universe, main_app.universe_path(universe), class: 'btn btn-default btn-block', style: "background-image: url('#{ universe.image.medium.url }')" %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
