<% content_for :page_title, t('.title') %>

<h1><%= t '.title' %></h1>
<h4><%= @forum %></h4>

<%= simple_form_for([@forum, @topic]) do |f| %>
  <div class="row">
    <div class="col-md-8">
      <%= f.error_notification %>

      <%= f.input :name, autofocus: true %>

      <%= f.simple_fields_for(:forum_posts) do |sf| %>
        <%= sf.input :content, label: false, input_html: { rows: 6 } %>
      <% end %>
    </div>
  </div>

  <%= f.button :submit, t('.submit'), class: 'btn-lg' %>
<% end %>
