<% content_for :page_title, @topic %>
<% content_for :page_description, truncate_rich(@topic.forum_posts.first.content) %>
<% content_for :page_author, @topic.user %>
<% content_for :page_keywords, @forum %>

<div class="forum-topic">
  <h1><%= @topic %></h1>

  <div class="clearfix">
    <%= t '.created_by_html', user: @topic.user %>
    <span class="text-muted">·</span>
    <%= t '.forum_posts', count: @topic.forum_posts.count %>

    <% if user_signed_in? && policy(@topic).edit? %>
      <%= link_to t('.edit'), edit_forum_topic_path(@forum, @topic), class: 'btn btn-xs' %>
    <% end %>
  </div>

  <ol class="breadcrumb">
    <li><%= link_to @forum, @forum %></li>
    <li class="active"><%= @topic %></li>
  </ol>

  <% @forum_posts.each do |forum_post| %>
    <%= render forum_post %>
  <% end %>

  <%= paginate @forum_posts %>

  <% if policy(@forum_post).create? %>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <%= render 'forum_posts/new', post: @forum_post %>
      </div>
    </div>
  <% end %>

  <% unless user_signed_in? %>
    <div class="forum-invite">
      <%= link_to t('.invite'), new_user_session_path %>
    </div>
  <% end %>
</div>
