<% if resource_class.omniauth_providers.present? %>
  <p>
    <% resource_class.omniauth_providers.each do |provider| %>
      <%= link_to user_omniauth_authorize_path(provider), class: 'btn btn-default btn-block btn-omniauth btn-lg' do %>
        <%= image_tag "social/#{provider}.png" %>
        <%= t '.sign_in_with', provider: provider.to_s.titleize %>
      <% end %>
    <% end %>
  </p>

  <p class="text-center"><%= t '.or' %></p>
<% end %>

<% if controller_name != 'registrations' %>
  <p>
    <%= link_to t('.sign_up'), new_registration_path(resource_class), class: 'btn btn-default btn-block btn-lg' %>
  </p>
<% end %>

<% if controller_name != 'sessions' %>
  <p>
    <%= link_to t('.sign_in'), new_session_path(resource_class), class: 'btn btn-default btn-block btn-lg' %>
  </p>
<% end %>

<ul class="list-unstyled">
  <li><%= link_to t('.forgot_password'), new_password_path(resource_name) %></li>

  <li><%= link_to t('.resend_confirmation'), new_confirmation_path(resource_name) %></li>
</ul>
