<ul class="nav nav-tabs">
  <li class="nav-item">
    <%= link_to t('users.registrations.edit.title'), edit_user_registration_path,
      class: ['nav-link', active == :edit ? 'active' : ''] %>
  </li>

  <li class="nav-item <%= 'active' if active == :passwords %>">
    <%= link_to t('users.passwords.change.title'), change_user_password_path,
      class: ['nav-link', active == :passwords ? 'active' : ''] %>
  </li>

  <li class="nav-item <%= 'active' if active == :destroy %>">
    <%= link_to t('users.registrations.destroy.title'), destroy_user_registration_path,
      class: ['nav-link', active == :destroy ? 'active' : ''] %>
  </li>
</ul>
