<p>
  Olá <%= @user %>!
</p>

<p>
  <%= @notifiable.user %> fez um novo comentário em
  <%= link_to @notifiable.post, notification_url(@notification) %>.
</p>

<p>
  Para ler o comentário acesse o post
  <%= link_to 'clicando aqui', notification_url(@notification) %>.
</p>

<p>
  Se você não quiser mais receber emails sobre novos comentários em posts
  que você está vigiando, você pode desabilitá-los nas suas
  <%= link_to 'preferências de email', user_email_preferences_url %>.
</p>
