<% content_for :page_title, t('.title') %>

<h1><%= t '.title' %></h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="list-group notifications">
      <% @notifications.each do |notification| %>
        <%= link_to notification, class: ['list-group-item', notification.unread ? 'unread' : 'read'] do %>
          <%= render "notifications/#{notification.event}", notifiable: notification.notifiable %>
          <%= time_tag notification.created_at, format: :short %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<%= paginate @notifications %>
