<% content_for :page_title, t('.title') %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1><%= t '.title' %></h1>

    <% if @notifications.present? %>
      <p class="text-xs-right">
        <%= link_to t('.clear'), notifications_path, method: :delete,
          class: 'btn btn-secondary btn-sm', role: 'button' %>
      </p>

      <div class="list-group notifications">
        <% @notifications.each do |notification| %>
          <%= link_to notification, class: ['list-group-item', notification.unread ? 'unread' : 'read'] do %>
            <%= render "notifications/#{notification.event}", notifiable: notification.notifiable %>
            <%= time_tag notification.created_at, format: :short %>
          <% end %>
        <% end %>
      </div>

      <%= paginate @notifications %>
    <% else %>
      <div class="alert alert-info" role="alert"><%= t '.empty' %></div>
    <% end %>
  </div>
</div>
