<% content_for :page_title, t('.title', zine: @zine) %>

<ol class="breadcrumb">
  <li><%= link_to t('admin.zines.index.title'), :back %></li>
  <li class="active"><%= @zine %></li>
</ol>

<h2><%= t '.title', zine: @zine %></h2>

<div class="row">
  <div class="col-md-2">
    <%= link_to image_tag(@zine.image.small.url, class: 'img-thumbnail'), @zine, target: '_blank' %>
  </div>

  <div class="col-md-10">
    <%= simple_form_for(
      [:admin, @zine],
      wrapper_mappings: {
        boolean: :vertical_boolean
      }
    ) do |f| %>
      <%= f.input :starred %>

      <div class="form-group">
        <div class="checkbox">
          <label for="zine_starred">
            <%= check_box_tag 'featured', '1', (Setting[:featured_zine] == @zine.id.to_s) || params[:featured] %>
            <%= t '.featured' %>
          </label>
        </div>
      </div>

      <%= f.button :submit, t('.save') %>
    <% end %>
  </div>
</div>
