<% content_for :page_title, t('.title') %>

<h2><%= t '.title' %></h2>

<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th><%= Zine.human_attribute_name 'name' %></th>
      <th><%= Zine.human_attribute_name 'user_id' %></th>
      <th><%= Zine.human_attribute_name 'slug' %></th>
      <th><%= t '.posts' %></th>
    </tr>
  </thead>

  <tbody>
    <% @zines.each do |zine| %>
      <tr class="zine-list-item">
        <td>
          <%= link_to zine_path(zine) do %>
            <%= image_tag zine.image.thumb, class: 'mini-avatar' %>
            <%= zine %>
          <% end %>
        </td>

        <td>
          <%= link_to zine.user, zine.user, target: '_blank' %>
        </td>

        <td>
          <%= link_to zine_path(zine), zine, target: '_blank' %>
        </td>

        <td>
          <%= zine.posts.count %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @zines %>
