<% content_for :content do %>
  <div class='page-header'>
    <h1><%= link_to t('link.admin'), admin_root_path %></h1>
  </div>

  <ul class="nav nav-tabs admin-tabs">
    <%= admin_list_item(:users) %>
    <%= admin_list_item(:zines) %>
    <%= admin_list_item(:forums) %>
    <%= admin_list_item(:pages) %>
  </ul>

  <%= yield %>
<% end %>

<%= render template: 'layouts/application' %>