<footer id="sticky-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-xs-6">
        <h1>Ajuda e FAQ</h1>

        <ul class="list-unstyled">
          <li><%= link_to 'O que é RPG?', '/pages/o-que-e-rpg' %></li>
          <li><%= link_to 'O que é Storytelling?', '/pages/o-que-e-storytelling' %></li>
          <li><%= link_to 'Usando o Fórum', '/pages/usando-o-forum' %></li>
        </ul>
      </div>

      <div class="col-sm-4 col-xs-6">
        <h1>Sobre nós</h1>

        <ul class="list-unstyled">
          <li><%= link_to 'Entre em contato', raddar.new_contact_path %></li>
          <li><%= link_to 'Termos de Uso', '/pages/terms' %></li>
          <li><%= link_to 'Sobre nós', '/pages/about' %></li>
        </ul>
      </div>

      <div class="col-sm-4 col-xs-6">
        <h1>Siga as Trevas</h1>

        <ul class="list-unstyled">
          <li><%= link_to 'Facebook', 'http://facebook.com/mundodastrevas', target: '_blank' %></li>
          <li><%= link_to 'Twitter', 'http://twitter.com/mundodastrevas', target: '_blank' %></li>
          <li><%= link_to 'Feed', raddar_zines.posts_path, target: '_blank' %></li>
        </ul>
      </div>
    </div>

    <div class="legal">
      <p>
        <small>
          Os conteúdos aqui publicados são de responsabilidade de seus autores. Não os copie sem permissão.
          <em>Storytelling System</em>, <em>Vampire the Requiem</em>, <em>Werewolf the Forsaken</em>,
          <em>Mage the Awakening</em> e demais títulos da linha Mundo das Trevas são marcas registradas
          da CCP NA, f.h. No Brasil tais marcas são de direito da Devir Livraria.
        </small>
      </p>

      <p>&copy; Comunidade Mundo das Trevas <%= Time.now.year %></p>
    </div>
  </div>
</footer>
