<footer id="sticky-footer">
  <div class="container">
    <ul class="list-inline">
      <li><%= link_to t('raddar.contacts.new.title'), raddar.new_contact_path %></li>

      <li class="muted">·</li>

      <li><%= link_to 'Termos de Uso', '/pages/terms' %></li>

      <li class="muted">·</li>

      <li><%= link_to 'Sobre nós', '/pages/about' %></li>

      <li class="muted">·</li>

      <li><%= link_to 'Feed', raddar_zines.posts_path %></li>
    </ul>

    <p>
      <small>
        Os conteúdos aqui publicados são de responsabilidade de seus autores. Não os copie sem permissão.
        <em>Storytelling System</em>, <em>Vampire the Requiem</em>, <em>Werewolf the Forsaken</em>,
        <em>Mage the Awakening</em> e demais títulos da linha Mundo das Trevas são marcas registradas
        da CCP NA, f.h. No Brasil, tais marcas são de direito da Devir Livraria.
      </small>
    </p>

    <p>&copy; Comunidade Mundo das Trevas <%= Time.now.year %></p>
  </div>
</footer>
