<meta name="viewport" content="width=device-width, initial-scale=1.0">

<%= favicon_link_tag '/favicon.ico' %>

<%= auto_discovery_link_tag :atom, raddar_zines.posts_path, title: Raddar.app_name %>

<% if content_for(:page_keywords) %>
  <meta name="keywords" content="<%= content_for(:page_keywords) %>">
<% end %>

<% if content_for(:page_description) %>
  <meta name="description" content="<%= content_for(:page_description) %>">
<% end %>

<% if content_for(:page_author) %>
  <meta name="author" content="<%= content_for(:page_author) %>">
<% end %>

<meta name="rating" content="general">
<meta name="robots" content="follow">

<%# Facebook %>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/pt_BR/all.js#xfbml=1&appId=330164793746855";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<%# Google Analytics %>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-17078442-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

<%# Twitter %>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
