<% content_for :page_title, @user %>
<% content_for :page_description, strip_tags(@user.bio) %>
<% content_for :page_author, @user %>
<% content_for :page_type, 'profile' %>
<% content_for :page_image, URI(root_url) + @user.avatar.url %>
<% content_for :canonical_url, user_url(@user) %>
<% content_for :page_updated_at, @user.updated_at %>

<% content_for :layout_top do %>
  <div class="user-profile-top"
    <% if @user.avatar.file %>
      style="background-image: url(<%= asset_path(@user.avatar.medium.url) %>)"
    <% end %>
    >
  </div>
<% end %>

<div class="user-profile">
  <div class="row">
    <div class="col-md-4 avatar">
      <%= image_tag @user.avatar.medium.url, class: 'img-circle img-thumbnail img-responsive' %>
    </div>

    <div class="col-md-8">
      <h1><%= @user %></h1>

      <div class="clearfix user-profile-actions">
        <div class="pull-left">
          <% if @user == current_user %>
            <%= link_to t('.edit'), edit_user_registration_path, class: 'btn btn-primary-outline btn-sm' %>
          <% else %>
            <%= link_to user_messages_path(@user), class: 'btn btn-primary-outline' do %>
              <i class="fa fa-envelope"></i>
              <%= t '.message' %>
            <% end %>
          <% end %>
        </div>

        <div class="pull-xs-right external-accounts">
          <% @user.external_accounts.each do |account| %>
            <% if policy(@user).read_field?(account.provider) %>
              <%= link_to account.url,
                target: '_blank',
                title: account.provider.titleize do %>
                <i class="fa fa-<%= account.provider %>-official"></i>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>

      <% if @user.bio.present? %>
        <blockquote class="blockquote">
          <%= simple_text @user.bio %>
        </blockquote>
      <% end %>

      <dl>
        <% if policy(@user).read_field?(:email) %>
          <dt><%= User.human_attribute_name('email') %></dt>
          <dd class="email">
            <%= @user.email %>
            <% if @user == current_user && @user.pending_reconfirmation? %>
               <small class="text-warning"><%= t '.unconfirmed_email', email: @user.unconfirmed_email %></small>
            <% end %>
          </dd>
        <% end %>

        <% if policy(@user).read_field?(:gender) && @user.gender.present? %>
          <dt><%= User.human_attribute_name('gender') %></dt>
          <dd><%= t @user.gender, scope: 'user.gender_options' %></dd>
        <% end %>

        <% if policy(@user).read_field?(:location) && @user.location.present? %>
          <dt><%= User.human_attribute_name('location') %></dt>
          <dd><%= @user.location %></dd>
        <% end %>

        <% if policy(@user).read_field?(:birthday) && @user.birthday.present? %>
          <dt><%= User.human_attribute_name('birthday') %></dt>
          <dd><%= l @user.birthday %></dd>
        <% end %>

        <dt><%= t '.member_since' %></dt>
        <dd><%= l @user.created_at.to_date, format: :long %></dd>
      </dl>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <% if @user.levels.present? %>
        <div class="list-group">
          <% @user.levels.each do |level| %>
            <% if level.rank.present? %>
              <%= link_to universe_path(level.universe, anchor: 'tab-ranks'), class: 'list-group-item' do %>
                <div class="user-rank clearfix">
                  <%= image_tag level.universe.image.thumb.url, class: 'img-rounded' %>

                  <h6><%= level.rank %></h6>
                  <%= level.rank.description %>
                </div>
              <% end %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>

    <% if @zines.present? %>
      <div class="col-sm-8">
        <h3><%= t '.zines' %></h3>

        <% @zines.limit(4).each_slice(2) do |row| %>
          <div class="row">
            <% row.each do |zine| %>
              <div class="col-md-6">
                <section class="list-group zine-card">
                  <%= link_to '', zine_path(zine), class: 'list-group-item cover',
                    style: "background-image: url('#{ zine.image.url }')" %>

                  <%= link_to zine_path(zine), class: 'list-group-item' do %>
                    <h4 class="list-group-item-heading">
                      <%= zine %>
                    </h4>
                  <% end %>
                </section>
              </div>
            <% end %>
          </div>
        <% end %>

        <%= link_to t('.all_zines'), user_zines_path(@user) %>
      </div>
    <% end %>
  </div>
</div>
