<div class="col-md-3 mundodastrevas-sidebar">
  <div class="row">
    <div class="col-sm-6 col-md-12">
      <section class="facebook-like">
        <div class="fb-page"
          data-href="https://www.facebook.com/mundodastrevas"
          data-adapt-container-width="true"
          data-hide-cover="false"
          data-show-facepile="false"
          data-show-posts="false"
          data-small-header="false">
        </div>
      </section>

      <section class="twitter-widget">
        <a href="https://twitter.com/mundodastrevas"
          class="twitter-follow-button"
          data-show-count="false"
          data-size="large">
          Siga @mundodastrevas
        </a>
      </section>

      <section class="panel panel-default new-users">
        <div class="panel-heading">
          <h1 class="panel-title">Novos membros</h1>
        </div>

        <div class="panel-body">
          <% @new_members.each do |user| %>
            <%= link_to image_tag(user.avatar.thumb.url, class: 'img-circle img-thumbnail'), user, title: user.name %>
          <% end %>
        </div>
      </section>
    </div>

    <div class="col-sm-6 col-md-12">
      <section class="panel panel-default new-levels">
        <div class="panel-heading">
          <h1 class="panel-title">Level up!</h1>
        </div>

        <div class="list-group">
          <% @new_levels.each do |level| %>
            <% if level.rank %>
              <%= link_to level.user, class: 'list-group-item clearfix' do %>
                <div class="level-image">
                  <%= image_tag level.user.avatar.thumb.url, class: 'img-rounded' %>
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                </div>
                <div class="level-user">
                  <strong><%= level.user %></strong>
                  agora é
                  <strong><%= level.rank %></strong>
                  <div class="level-universe"><%= level.universe %></div>
                </div>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </section>

      <section class="panel panel-default">
        <div class="panel-heading">
          <h1 class="panel-title">Parceiros</h1>
        </div>

        <div class="list-group">
          <%= link_to 'Livro dos Espelhos', 'http://livrodosespelhos.com/', target: '_blank', class: 'list-group-item' %>

          <%= link_to 'Minas Morgul', 'http://www.minasmorgul.com.br/', target: '_blank', class: 'list-group-item' %>

          <%= link_to 'Rádio Budega', ' http://radio-budega.blogspot.com.br/', target: '_blank', class: 'list-group-item' %>

          <%= link_to 'RRPG FireCast', 'http://rrpg.com.br/', target: '_blank', class: 'list-group-item' %>

          <%= link_to 'RPG Pará', 'http://www.rpgpara.com/', target: '_blank', class: 'list-group-item' %>

          <%= link_to 'Taberna do Dragão', 'http://www.tabernadodragao.com.br/', target: '_blank', class: 'list-group-item' %>
        </div>
      </section>
    </div>
  </div>
</div>
