<% content_for :page_description, 'Notícias, análises, eventos, fóruns, resenhas,
  crônicas e materiais independentes de Vampiro: o Réquiem, Mago: o Despertar,
  Lobisomem: os Destituídos, Changeling: os Perdidos, Promethean: the Created e
  demais jogos do Mundo das Trevas - World of Darkness Storytelling RPG.' %>
<% content_for :page_keywords, 'Mundo das Trevas, World of Darkness, Vampiro,
  Vampire, Requiem, Mago, Mage, Despertar, Awakening, Lobisomem, Werewolf, Destituidos,
  Forsaken, Changeling, Perdidos, Lost, Promethean, Created, Geist, Sin Eaters, Hunter,
  Vigil, Mummy, Curse, Demon, Descent, Storytelling, RPG' %>
<% content_for :page_type, 'website' %>
<% content_for :canonical_url, root_url %>

<% content_for :layout_top  do %>
  <div class="page-top">
    <div class="container">
      <h1><%= link_to 'Mundo das Trevas', root_path %></h1>
      <p class="lead hidden-sm-down">A comunidade brasileira de storytelling</p>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="col-md-8">
    <% @featured_posts.each_slice(2) do |row| %>
      <div class="row">
        <% row.each do |post| %>
          <div class="col-sm-6">
            <%= link_to zine_post_path(post.zine, post), class: 'featured-zine' do %>
              <div class="faux-image" style="background-image: url('<%= post.image.url %>')">
              </div>

              <div class="caption">
                <h1><%= post %></h1>
                <p class="zine-name"><%= post.zine %></p>
              </div>
            <% end %>
          </div>
        <% end%>
      </div>
    <% end %>

    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <p><%= link_to 'Mais zines', zines_path, class: 'btn btn-primary-outline btn-block' %></p>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <% @forums.each do |forum| %>
      <div class="card forum-home-card">
        <div class="card-header text-xs-center" style="
          <% if forum.universe.present? %>
            background-image: url(<%= forum.universe.image.medium.url %>)
          <% end %>
          ">
          <%= link_to forum, forum %>
        </div>
        <ul class="list-group list-group-flush">
          <% forum.topics.recent.limit(2).each do |topic| %>
            <li class="list-group-item"><%= link_to topic, forum_topic_path(topic.forum, topic) %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= link_to 'Mais fóruns', forums_path, class: 'btn btn-primary-outline btn-block' %>
  </div>
</div>
