<% content_for :page_title, @topic %>
<% content_for :page_description, truncate_rich(@topic.posts.first.content) %>
<% content_for :page_author, @topic.user %>
<% content_for :page_keywords, @forum %>

<% if @forum.universe %>
  <% content_for :layout_top do %>
    <div class="universe-header" style="background-image: url('<%= @forum.universe.image.url %>')">
    </div>
  <% end %>
<% end %>

<div class="forum-topic">
  <div class="page-header">
    <h1><%= @topic %></h1>

    <div class="clearfix">
      <%= t '.created_by_html', user: link_to(@topic.user, raddar.user_path(@topic.user)) %>

      <span class="text-muted">·</span>

      <%= t '.posts', count: @topic.posts.count %>

      <% if user_signed_in? %>
        <%= link_to t('.edit'), edit_forum_topic_path(@forum, @topic), class: 'btn btn-xs' if policy(@topic).edit? %>

        <div class="pull-right">
          <%= t('.watching') if @topic.watched_by?(current_user) %>

          <%= watch_button @topic, current_user, forum_topic_path(@forum, @topic) %>
        </div>
      <% end %>
    </div>
  </div>

  <ol class="breadcrumb">
    <li><%= link_to @forum, @forum %></li>
    <li class="active"><%= @topic %></li>
  </ol>

  <%= render @posts %>

  <%= paginate @posts %>

  <% if policy(@post).create? %>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <%= render 'raddar/forums/posts/new', post: @post %>
      </div>
    </div>
  <% end %>

  <% unless user_signed_in? %>
    <div class="forum-invite">
      <%= link_to t('.invite'), raddar.new_user_session_path %>
    </div>
  <% end %>
</div>
