<% content_for :page_title, t('.title') %>
<% content_for :page_description, t('.description') %>

<div class="page-header">
  <h1><%= t '.title' %></h1>
</div>

<p class="lead">
  <%= t '.description' %>
</p>

<div class="row">
  <div class="col-md-6">
    <%= simple_form_for(@contact) do |f| %>
      <%= f.error_notification %>

      <%= f.input :name, autofocus: @contact.guest?, disabled: !@contact.guest?, required: true %>
      <%= f.input :email, disabled: !@contact.guest?, required: true %>

      <%= f.input :message, autofocus: !@contact.guest?, as: :text, input_html: { rows: 6 } %>

      <% if @contact.guest? %>
        <div class="form-group <%= 'has-error' unless @contact.errors[:captcha].empty? %>">
          <%= recaptcha_tags %>

          <span class="help-block"><%= @contact.errors[:captcha].first %></span>
        </div>
      <% end %>

      <%= f.button :submit, t('.submit'), class: 'btn-lg' %>
    <% end %>
  </div>
</div>
