<section class="panel panel-default zine-author">
  <div class="panel-heading">
    <h1 class="panel-title">
      <%= t '.title' %>
    </h1>
  </div>

  <div class="panel-body">
    <%= link_to image_tag(user.avatar.small.url, class: 'img-circle img-thumbnail img-responsive'), raddar.user_path(user) %>

    <h1>
      <%= link_to user, raddar.user_path(user) %>
    </h1>

    <p class="bio">
      <%= truncate_rich user.bio %>
    </p>

    <% if @zine.try(:universe) %>
      <% if rank = user.levels.where(universe: @zine.universe).first.try(:rank) %>
        <p>
          <%= t '.level_html',
                universe: link_to(@zine.universe, main_app.universe_path(@zine.universe)),
                user: user,
                rank: rank,
                description: rank.description %>
        </p>
      <% end %>
    <% end %>
  </div>

  <div class="list-group">
    <%= link_to t('.zines', count: user.zines.count), main_app.user_zines_path(user), class: 'list-group-item' %>
  </div>
</section>
