<%= simple_form_for(@zine) do |f| %>
  <div class="row">
    <div class="col-md-8">
      <%= f.error_notification %>

      <%= f.input :name, autofocus: true, input_html: { class: 'input-lg' } %>

      <%= f.input :slug do %>
        <div class="input-group">
          <span class="input-group-addon">
            <%= zines_url.gsub('http://', '') %>
          </span>

          <%= f.text_field :slug, class: 'form-control' %>
        </div>
      <% end %>

      <%= f.input :description, as: :bootsy, input_html: { rows: 10 } %>

      <div class="row">
        <div class="col-md-6">
          <%= f.association :universe %>
        </div>
      </div>

      <%= f.input :image do %>
        <% if @zine.image.file.present? %>
          <p>
            <%= image_tag @zine.image.thumb.url, class: 'img-thumbnail' %>
          </p>
        <% end %>

        <%= f.file_field :image %>
      <% end %>

      <div class="form-group">
        <%= f.submit submit, class: 'btn btn-primary btn-lg' %>
      </div>
    </div>
  </div>
<% end %>
