<% zines.each do |zine| %>
  <div class="list-item-with-image">
    <%= link_to zine do %>
      <%= image_tag zine.image.small.url %>
    <% end %>

    <h3><%= link_to zine, zine %></h3>

    <p>
      <%= truncate_rich(zine.description) do %>
        <%= link_to t('.more'), zine %>
      <% end %>
    </p>
  </div>
<% end %>

<%= paginate zines %>
