<ul class="media-list">
  <% zines.each do |zine| %>
    <li class="media zine zine-with-post clearfix">
      <% post = zine.posts.order('created_at DESC').first %>

      <%= link_to main_app.zine_post_path(zine, post), class: 'pull-left' do %>
        <%= image_tag post.image.small.url, class: 'media-object img-thumbnail' %>
      <% end %>

      <div class="media-body">
        <h3 class="media-heading">
          <%= link_to post, main_app.zine_post_path(zine, post) %>
        </h3>

        <p>
          <em><%= link_to zine, main_app.zine_path(zine) %></em>
        </p>

        <p>
          <%= truncate(sanitize(post.content, tags: []), length: 300, separator: ' ') do %>
            <%= link_to t('.more'), main_app.zine_post_path(zine, post) %>
          <% end %>
        </p>
      </div>
    </li>
  <% end %>
</ul>

<%= paginate zines %>
