<% content_for :page_title, t('.title') %>
<% content_for :page_canonical_url, zines_url %>

<h1><%= t '.title' %></h1>

<div class="list-group">
  <% @zines.each do |zine| %>
    <%= link_to zine, class: 'list-group-item list-group-item-action flex-column align-items-start' do %>
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1"><%= zine %></h5>
        <small><%= pluralize zine.posts.count, 'post', plural: 'posts' %></small>
      </div>
      <p class="mb-1">Por <%= zine.user %></p>
    <% end %>
  <% end %>
</div>
