<% content_for :page_title, @zine %>
<% content_for :page_author, @zine.user %>
<% content_for :page_description, truncate_rich(@zine.description) %>
<% content_for :page_canonical_url, zine_url(@zine) %>
<% content_for :page_image, URI(root_url) + @zine.image.url %>
<% content_for :page_updated_at, @zine.updated_at %>

<h1><%= @zine %></h1>

<div class="row">
  <div class="col-md-8">
    <% if @zine.image.file.present? %>
      <%= image_tag @zine.image.url, class: 'zine-image img-fluid' %>
    <% end %>

    <div class="zine-description"><%= sanitize @zine.description %></div>

    <h2><%= t '.posts', zine: @zine %></h2>

    <% @posts.each do |post| %>
      <div class="list-item-with-image post-list-item">
        <%= link_to [post.zine, post] do %>
          <%= image_tag post.image.small.url %>
        <% end %>

        <h4><%= link_to post, [post.zine, post] %></h4>

        <p>
          <%= truncate_rich(post.content) do %>
            <%= link_to t('.more'), [post.zine, post] %>
          <% end %>
        </p>
      </div>
    <% end %>

    <% if @posts.empty? %>
      <div class="alert alert-info"><%= t '.empty' %></div>
    <% end %>
  </div>

  <div class="col-md-4">
    <div class="card zine-author">
      <div class="card-header"><%= t '.author' %></div>

      <div class="card-block">
        <%= image_tag @zine.user.avatar.small.url, class: 'rounded-circle img-thumbnail img-fluid' %>
        <h3 class="card-title"><%= @zine.user %></h3>
        <p class="card-text bio"><%= truncate_rich @zine.user.bio %></p>
      </div>
    </div>
  </div>
</div>
