<% content_for :page_title, t('.title', user: @user) %>
<% content_for :page_author, @user %>
<% content_for :page_description, strip_tags(@user.bio) %>
<% content_for :page_canonical_url, user_zines_url(@user) %>
<% content_for :page_image, URI(root_url) + @user.avatar.url %>

<div class="page-header">
  <h1>
    <%= t '.title', user: @user %>
  </h1>
</div>

<div class="row">
  <%= render 'user_sidebar', user: @user, zines: @zines %>

  <div class="col-md-8">
    <% if @zines.any? %>
      <%= render 'list', zines: @zines %>
    <% else %>
      <div class="alert alert-info">
        <% if @user == current_user %>
          <%= t '.no_zines_user' %>
          <%= link_to t('.first_zine'), new_zine_path, class: 'alert-link' %>
        <% else %>
          <%= t '.no_zines', user: @user %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
