<p>
  Olá, <%= @user %>!
</p>

<p>
  <%= @notifiable.user %> escreveu uma nova postagem em
  <%= link_to @notifiable.topic, raddar.notification_url(@notification) %>.
</p>

<p>
  Para ler a postagem, acesse o tópico
  <%= link_to 'clicando aqui', raddar.notification_url(@notification) %>.
</p>

<p>
  Se você não quer mais receber emails sobre novas postagens
  nos tópicos que você está vigiando, você pode desabilitá-los nas suas
  <%= link_to 'preferências de emails', raddar.user_email_preferences_url %>.
</p>
