<% content_for :page_title, t('.title') %>

<div class="page-header">
  <h1><%= t '.title' %></h1>
</div>

<%= render 'users/shared/tabs', active: :external_accounts %>

<dl>
  <% User.omniauth_providers.each do |provider| %>
    <dt><%= provider.to_s.titleize %></dt>

    <dd>
      <% if account = @user.external_accounts.find_by(provider: provider) %>
        <%= link_to t('.connected_as', account: account), account.url, target: '_blank' %>

        <%= link_to t('.destroy', provider: provider.to_s.titleize), [:user, account], method: :delete, class: 'btn btn-primary-outline btn-xs' %>
      <% else %>
        <%= link_to user_omniauth_authorize_path(provider), class: 'btn btn-primary' do %>
          <i class="fa fa-<%= provider %>-official" %></i>
          <%= t '.connect', provider: provider.to_s.titleize %>
        <% end %>
      <% end %>
    </dd>
  <% end %>
</dl>
