<% content_for :page_title, t('.title') %>

<div class="page-header">
  <h1><%= t '.title' %></h1>
</div>

<%= render 'users/shared/tabs', active: :external_accounts %>

<dl>
  <dt>Facebook</dt>

  <dd>
    <% if account = @user.external_accounts.find_by(provider: 'facebook') %>
      <%= t '.connected_as', account: account %>

      <%= link_to t('.destroy', provider: 'Facebook'), [:user, account], method: :delete, class: 'btn btn-primary-outline btn-xs' %>
    <% else %>
      <%= link_to user_facebook_omniauth_authorize_path, class: 'btn btn-primary' do %>
        <i class="fa fa-facebook-official" %></i>
        <%= t '.connect', provider: 'Facebook' %>
      <% end %>
    <% end %>
  </dd>
</dl>
