<% content_for :page_title, t('.title') %>

<p class="lead"><%= t '.greeting', user: current_user %></p>


<h2><%= t '.statistics' %></h2>

<dl class="dl-horizontal">
  <dt><%= t '.users.registered' %></dt>
  <dd><%= @registered_users_count %></dd>

  <dt><%= t '.users.confirmed' %></dt>
  <dd><%= @confirmed_users_count %></dd>

  <dt><%= t '.users.blocked' %></dt>
  <dd><%= @blocked_users_count %></dd>

  <dt><%= t '.messages' %></dt>
  <dd><%= @messages_count %></dd>
</dl>
