<% content_for :page_title, t(params[:q].present? ? '.title_with_query' : '.title', q: params[:q]) %>

<div class="search-page">
  <%= form_tag(search_path, class: 'form-inline', role: 'search', method: :get) do %>
    <div class="form-group">
      <%= text_field_tag :q, params[:q], class: 'form-control input-lg', placeholder: t('.placeholder'), autofocus: true %>
    </div>
    <%= button_tag class: 'btn btn-primary' do %>
      <i class="fa fa-search"></i>
    <% end %>
  <% end %>

  <% if params[:q].present? %>
    <% if @results.present? %>
      <ul class="list-unstyled">
        <% @results.each do |result| %>
          <li class="search-result">
            <%= render "searches/#{result.class.name.underscore}", searchable: result %>
          </li>
        <% end %>
      </ul>

      <%= paginate @results %>
    <% else %>
      <p class="text-info"><%= t '.empty' %></p>
    <% end %>
  <% end %>
</div>
