<% content_for :page_title, @universe.name %>
<% content_for :page_description, truncate_rich(@universe.description) %>
<% content_for :canonical_url, universe_url(@universe) %>
<% content_for :page_image, URI(root_url) + @universe.image.url %>
<% content_for :page_updated_at, @universe.updated_at %>

<% content_for :layout_top do %>
  <div class="universe-header" style="background-image: url('<%= @universe.image.url %>')">
    <div class="container">
      <h1><%= @universe %></h1>
    </div>
  </div>
<% end %>

<section class="description">
  <p class="lead text-justify"><%= strip_tags @universe.description %></p>
</section>

<ul class="nav nav-tabs universe-nav">
  <li class="nav-item active"><%= link_to t('.zines'), '#zines', class: 'nav-link', data: { toggle: 'tab' } %></li>

  <% if @forum.present? %>
    <li class="nav-item"><%= link_to t('.forum'), '#forum', class: 'nav-link', data: { toggle: 'tab' } %></li>
  <% end %>
</ul>

<div class="tab-content">
  <section class="tab-pane fade in active" id="zines">
    <h2><%= t '.zines' %></h2>

    <%= render 'zines/list', zines: @zines %>
  </section>

  <% if @forum.present? %>
    <section class="tab-pane fade" id="forum">
      <h2><%= t '.forum' %></h2>

      <%= render 'topics/index', topics: @forum_topics, forum: @forum %>

      <%= link_to t('.more'), @forum %>
    </section>
  <% end %>
</div>
