<% content_for :page_title, t('.title') %>

<div class="page-header">
  <h1><%= t '.title' %></h1>
</div>

<%= render 'users/shared/tabs', active: :passwords %>

<div class="row">
  <div class="col-md-4">
    <%= simple_form_for(@user, url: do_change_user_password_path) do |f| %>
      <%= f.error_notification %>

      <%= f.input :current_password, autofocus: true, autocomplete: 'off', required: true %>
      <%= f.input :password, label: t('.password_label'), autocomplete: 'off', required: true %>
      <%= f.input :password_confirmation, autocomplete: 'off', required: true %>

      <%= f.button :submit, t('.submit') %>
    <% end %>
  </div>
</div>
