<%= simple_form_for([@zine, @post]) do |f| %>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <%= f.error_notification %>

      <%= f.input :name, autofocus: true, input_html: { class: 'input-lg' } %>
      <%= f.input :content, as: :bootsy, container: @zine, input_html: { rows: 18 } %>

      <%= f.input :image do %>
        <% if @post.image.file.present? %>
          <p>
            <%= image_tag @post.image.thumb.url, class: 'img-thumbnail' %>
          </p>
        <% end %>

        <%= f.file_field :image %>
      <% end %>

      <%= f.input :slug, required: false do %>
        <div class="input-group">
          <span class="input-group-addon">
            <%= zine_posts_url(@zine).split('//').last %>
          </span>

          <%= f.text_field :slug, class: 'form-control' %>
        </div>
      <% end %>

      <%= f.input :tags %>

      <%= f.button :submit, submit, class: 'btn-lg' %>
    </div>
  </div>
<% end %>
