<% content_for :page_title, @post %>
<% content_for :page_author, @post.user %>
<% content_for :page_description, truncate_rich(@post.content) %>
<% content_for :page_canonical_url, zine_post_url(@zine, @post) %>
<% content_for :page_image, URI(root_url) + @post.image.url %>
<% content_for :page_updated_at, @post.updated_at %>
<% content_for :page_see_also, zine_url(@zine) %>

<% content_for :layout_top do %>
  <div class="post-top"
    <% if @zine.image.file %>
      style="background-image: url(<%= @zine.image.url %>)"
    <% elsif @post.image.file %>
      style="background-image: url(<%= @post.image.url %>)"
    <% end %>
  >
  </div>
<% end %>

<div class="row">
  <div class="col-lg-8 col-lg-offset-2 col-md-9 col-md-offset-1">
    <div class="post">
      <h1><%= @post %></h1>

      <p class="author-and-date">
        <%= t '.author_and_date.html',
          user: @post.user,
          date: time_tag(@post.created_at.to_date, format: :long) %>
      </p>

      <%= image_tag @post.image.url, class: 'zine-image img-fluid' if @post.image.file.present? %>

      <div class="content"><%= sanitize @post.content %></div>

      <%= render 'posts/footer' %>

      <div class="card card-block">
        <%= link_to @zine, @zine, class: 'zine-link', title: t('.index') %>

        <ul class="pager">
          <% if previous_post = @zine.posts.where('created_at < ?', @post.created_at).order(created_at: :desc).first %>
            <li class="previous">
              <%= link_to zine_post_path(@zine, previous_post), title: previous_post do %>
                &larr;
                <%= t '.previous' %>
              <% end %>
            </li>
          <% else %>
            <li class="previous disabled">
              <%= link_to 'javascript:void(0);' do %>
                &larr;
                <%= t '.previous' %>
              <% end %>
            </li>
          <% end %>

          <li><%= link_to t('.index'), @zine, title: @zine %></li>

          <% if next_post = @zine.posts.where('created_at > ?', @post.created_at).order(created_at: :asc).first %>
            <li class="next">
              <%= link_to [@zine, next_post], title: next_post do %>
                <%= t '.next' %>
                &rarr;
              <% end %>
            </li>
          <% else %>
            <li class="next disabled">
              <%= link_to 'javascript:void(0);' do %>
                <%= t '.next' %>
                &rarr;
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>

    <%= render 'comments/index' %>
  </div>
</div>
