<%= simple_form_for([:admin, @forum]) do |f| %>
  <div class="row">
    <div class="col-md-6">
      <%= f.error_notification %>

      <%= f.input :name %>

      <%= f.input :slug %>

      <%= f.input :description, input_html: { rows: 6 } %>
    </div>
  </div>

  <%= f.button :submit, submit, class: 'btn-lg' %>
<% end %>
