<% content_for :page_title, t('.title') %>

<ol class="breadcrumb">
  <li><%= link_to t('admin.forums.index.title'), :back %></li>
  <li class="active"><%= @forum %></li>
</ol>

<h2><%= t '.title' %></h2>

<%= render 'form', submit: t('.submit') %>

<%= link_to t('.destroy'), admin_forum_path(@forum), class: 'btn', method: :delete, data: { confirm: t('.confirm') } %>
