<div class="page-header">
  <h1><%= t 'admin.forums' %></h1>
</div>

<%= render 'admin/shared/tabs', active: :forums %>

<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th><%= Forum.human_attribute_name 'name' %></th>
      <th><%= Forum.human_attribute_name 'slug' %></th>
      <th><%= t '.topics' %></th>
    </tr>
  </thead>

  <tbody>
    <% @forums.each do |forum| %>
      <tr class="forum">
        <td>
          <%= link_to forum, edit_admin_forum_path(forum) %>
        </td>

        <td>
          <%= forum.slug %>
        </td>

        <td>
          <%= forum.topics.count %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new'), new_admin_forum_path, class: 'btn btn-default btn-lg' %>
