<% content_for :page_title, t('.title') %>

<div class="page-header">
  <h1><%= t '.title' %></h1>
</div>

<%= render 'admin/shared/tabs', active: :users %>

<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th><%= t '.name' %></th>
      <th><%= t '.state' %></th>
      <th><%= t '.confirmed' %></th>
      <th><%= t '.last_sign_in' %></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr class="user">
        <td>
          <%= link_to admin_user_path(user) do %>
            <%= image_tag user.avatar.thumb.url, class: 'mini-avatar' %>

            <%= user.name %>
          <% end %>
        </td>

        <td>
          <%= t user.state, scope: 'user.state_options' %>
        </td>

        <td>
          <%= t user.confirmed? ? :yes : :no %>
        </td>

        <td>
          <%= l user.current_sign_in_at, format: :long if user.current_sign_in_at.present? %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @users %>
