<% review = review_by_current_user(reviewable) %>

<%= form_for(review, remote: true, html: { class: 'raddar-ratings-review' }) do |f| %>
  <div class="btn-group btn-group-sm" data-toggle="buttons">
    <%= f.label :value, value: 'loved', class: review_btn_class('loved', review), title: t('.loved') do %>
      <%= f.radio_button :value, :loved %>

      <span class="glyphicon glyphicon-thumbs-up"></span>

      <span class="count">
        <%= reviewable.reviews.where(value: 'loved').count %>
      </span>
    <% end %>

    <%= f.label :value, value: 'hated', class: review_btn_class('hated', review), title: t('.hated') do %>
      <%= f.radio_button :value, :hated %>

      <span class="glyphicon glyphicon-thumbs-down"></span>

      <span class="count">
        <%= reviewable.reviews.where(value: 'hated').count %>
      </span>
    <% end %>
  </div>

  <%= f.hidden_field :reviewable_id %>
  <%= f.hidden_field :reviewable_type %>
<% end %>
