<% review = Review.find_or_initialize_by(user_id: current_user.try(:id), reviewable: reviewable) %>

<%= form_for(review, remote: true, html: { class: 'raddar-ratings-review' }) do |f| %>
  <div class="btn-group btn-group-sm" data-toggle="buttons">
    <% btn_class = 'btn btn-default' %>

    <% btn_class += ' disabled' unless user_signed_in? %>

    <% loved_class = btn_class + ' loved' + (review.value == 'loved' ? ' active' : '') %>

    <%= f.label :value, value: 'loved', class: loved_class, title: t('.loved') do %>
      <%= f.radio_button :value, :loved %>

      <span class="glyphicon glyphicon-thumbs-up"></span>

      <span class="count">
        <%= reviewable.reviews.where(value: 'loved').count %>
      </span>
    <% end %>

    <% hated_class = btn_class + ' hated' + (review.value == 'hated' ? ' active' : '') %>

    <%= f.label :value, value: 'hated', class: hated_class, title: t('.hated') do %>
      <%= f.radio_button :value, :hated %>

      <span class="glyphicon glyphicon-thumbs-down"></span>

      <span class="count">
        <%= reviewable.reviews.where(value: 'hated').count %>
      </span>
    <% end %>
  </div>

  <%= f.hidden_field :reviewable_id %>
  <%= f.hidden_field :reviewable_type %>
<% end %>
