<% if user_signed_in? %>
  <div class="collapse" id="userMenu">
    <div class="container p-a-1">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-6 col-lg-3 col-lg-offset-9">
          <ul class="list-group">
            <%= link_to t('user.show'), user_path, class: 'list-group-item' %>
            <%= link_to t('user.registration.edit'), edit_user_registration_path,
              class: 'list-group-item' %>

            <%= link_to user_zines_path(current_user), class: 'list-group-item' do %>
              <span class="glyphicon glyphicon-book"></span>
              <%= raw t('zines.user_index.my') %>
            <% end %>

            <%= link_to t('user.session.destroy'), destroy_user_session_path,
              class: 'text-danger list-group-item', method: :delete %>
          </ul>
        </div>
      </div>
    </div>
  </div>
<% end %>
