<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <%= render 'layouts/head' %>

    <title>
      <%= [content_for(:page_title), Rails.application.config.app_name].reject(&:blank?).join(' · ') %>
    </title>

    <%= stylesheet_link_tag 'application', media: 'all' %>

    <%= csrf_meta_tags %>
  </head>

  <body>
    <div id="content-wrapper">
      <%= render 'layouts/navbar' %>

      <% if content_for?(:layout_top) %>
        <div class="layout-top"><%= content_for :layout_top %></div>
      <% end %>

      <div class='container' id='main-container'>
        <%= render 'layouts/alerts' %>

        <%= content_for?(:content) ? yield(:content) : yield %>
      </div>
    </div>

    <%= render 'layouts/footer' %>

    <%= javascript_include_tag 'application' %>
  </body>
</html>
