<% content_for :page_title, t('.title') %>

<div class="page-header">
  <h1><%= t '.title' %></h1>
</div>

<%= render 'users/shared/tabs', active: :destroy %>

<div class="alert alert-danger">
  <%= t '.alert' %>
</div>

<div class="row">
  <div class="col-md-4">
    <%= simple_form_for(@user, url: user_registration_path, method: :delete) do |f| %>
      <%= f.error_notification %>

      <%= f.input :password, autocomplete: :off, autofocus: true, required: true %>

      <%= f.button :submit, t('.submit'), class: 'btn-danger' %>
    <% end %>
  </div>
</div>
