<% content_for :page_title, t('.title') %>

<div class="page-header">
  <h1><%= t '.title' %></h1>
</div>

<%= render 'users/shared/tabs', active: :edit %>

<div class="row">
  <div class="col-md-4">
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), method: :put) do |f| %>
      <%= f.error_notification %>

      <%= f.input :name %>
      <%= f.input :email, required: true %>
      <%= f.label :gender %>

      <div class="radio">
        <%= f.label :gender, value: 'female' do %>
          <%= f.radio_button :gender, :female %>
          <%= t 'user.gender_options.female' %>
        <% end %>
      </div>

      <div class="radio">
        <%= f.label :gender, value: 'male' do %>
          <%= f.radio_button :gender, :male %>
          <%= t 'user.gender_options.male' %>
        <% end %>
      </div>

      <%= f.input :birthday, as: :string, input_html: { type: 'date' } %>
      <%= f.input :location %>
      <%= f.input :bio, as: :text, input_html: { rows: 4 } %>

      <hr>

      <%= f.input :avatar do %>
        <% if @user.avatar? %>
          <%= image_tag(@user.avatar.thumb.url, class: 'img-rounded') %>
        <% end %>

        <%= f.file_field :avatar %>
      <% end %>

      <%= f.hidden_field :avatar_cache %>

      <%= f.button :submit, t('.submit'), class: 'btn-lg' %>
    <% end %>
  </div>
</div>
